*.tgz
*.bz2
*.tar
*.pyc
*.pyo
*.swp
*.swo
*.swn
*.swm
*.[oa]
*.log
*.db
*.rdb
*.bak
.installed.cfg
pip-log.txt
bin
develop-eggs
dist
downloads
eggs
parts
lib/*
build
include
src
src/*.egg-info
.project
.settings
tmp/**/*
*DS_Store*
share
.Python
local_settings.py
media/*
*(Autosaved)*
_build
_static
_templates
.venv
.env
*crash.dump
*mac.local.*
staticfiles/*
